{
    "bridge": {
        "name": "EXAMPLE_BRIDGE",
        "username": "CC:22:D3:E2:EE:32",
        "port": 51080,
        "pin": "000-00-000"
    },
    "platforms": [ ],
    "accessories": [
        {
              "accessory": "Script2",
              "name": "EXAMPLE",
              "on": "/scripte/EXAMPLE/on.sh 1",
              "off": "/scripte/EXAMPLE/off.sh 1",
              "fileState": "/scripte/EXAMPLE/script.flag"
        },
        {
              "accessory": "Script2",
              "name": "EXAMPLE-Send",
              "on": "/scripte/EXAMPLE-Send/on.sh 1",
              "off": "/scripte/EXAMPLE-Send/off.sh 1",
              "fileState": "/scripte/EXAMPLE-Send/script.flag"
        }
    ]
}
